@import "~/.cache/wal/colors-rofi-dark.rasi"

configuration {
    font: "NotoMono Nerd Font 14";
    show-icons: false;
}

window {
    location: south;
    anchor: south;
    width: 190ch;
    border: 0px;
    padding: 0px;
}

mainbox {
    padding: 10px;
}

inputbar {
    padding: 0px;
}

prompt {
    text: "> ";
}

listview {
    lines: 5;
    fixed-height: true;
    spacing: 10px;
}

element {
    padding: 5px 10px;
}
