@define-color foreground #c4c2c5;
@define-color background #160b19;
@define-color cursor #c4c2c5;

@define-color color0 #160b19;
@define-color color1 #6C1B29;
@define-color color2 #73232B;
@define-color color3 #563E4C;
@define-color color4 #8B1C2B;
@define-color color5 #8F252B;
@define-color color6 #A45551;
@define-color color7 #c4c2c5;
@define-color color8 #6a5a6e;
@define-color color9 #6C1B29;
@define-color color10 #73232B;
@define-color color11 #563E4C;
@define-color color12 #8B1C2B;
@define-color color13 #8F252B;
@define-color color14 #A45551;
@define-color color15 #c4c2c5;
